/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure body takes the full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
  text-align: center; /* Ensure title is centered */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #0077cc;
  max-width: 400px;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  color: #0077cc;
}

.balance-text {
  margin-top: 20px;
  color: #333;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #0077cc;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  text-align: center; /* Centers text within the input */
}

.submit-btn,
.get-balance-btn {
  background-color: #0077cc;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.submit-btn:hover,
.get-balance-btn:hover {
  background-color: #005fa3;
}

/* Styles for the Connect Wallet Button */
.header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #0077cc;
}

.connect-btn {
  background-color: white;
  color: #0077cc;
  border: 2px solid #0077cc;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.connect-btn:hover {
  background-color: #005fa3;
  color: white;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #4f4f4f;
  margin: 15px 0;
}
